body {
	background: #599acb;
	max-width: 850px;
	margin: 0 auto;
}
.content-wrap {
	background: #fff;
	padding: 20px;
}

/*Articles list*/
.list {
	list-style: none;
	padding: 0;
}
.list .item {
	margin: 20px 0;
	font-size: 18px;
}
.list .item .title {
	text-decoration: none;
}
.list .item .title:hover {
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}
.list .item .time {
	float: right;
}

/*Single article*/
.single-issue .head {
    margin-bottom: 40px;
	border-bottom: 3px dashed #ddd;
}

/*Response*/
@media (max-width: 768px) {
	.list .item .title {
		font-size: 15px;
	}
	.list .item .time {
		display: none;
	}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 14px;
	}
	h4, h5, h6 {
		font-size: 12px;
	}
}
