@gray: #ddd;
@primary-color: #3f51b5;
@mobile-width: 768px;

/* Mixin Start */
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.row {
	.flex;
	flex-direction: row;
}

.column {
	.flex;
	flex-direction: column;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.row-center {
	.row;
	.flex-center;
}

.column-center {
	.column;
	.flex-center;
}

.flex-start {
	align-items: center;
	justify-content: flex-start;
}

.flex-end {
	align-items: center;
	justify-content: flex-end;
}

.flex-between {
	align-items: center;
	justify-content: space-between;
}

.flex-around {
	align-items: center;
	justify-content: space-around;
}

.item-flex(@grow: 0, @shrink: 1, @basis: auto) {
	-webkit-box-flex: @grow @shrink @basis;
	-moz-box-flex: @grow @shrink @basis;
	-webkit-flex: @grow @shrink @basis;
	-ms-flex: @grow @shrink @basis;
	flex: @grow @shrink @basis;
}

.border(@pix: 1px, @color: @gray, @type: solid) {
    border: @pix @type @color;
}

.border-radius(@pix: 3px) {
    border-radius: @pix;
}

.no-list-style {
    list-style: none;
    li {
        list-style: none;
    }
}

.no-text-des {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.transition(@attr: all, @time: .5s, @type: ease) {
	-moz-transition: @attr @time @type;
	-webkit-transition: @attr @time @type;
	-ms-transition: @attr @time @type;
	-O-transition: @attr @time @type;
	transition: @attr @time @type;
}

.transform(@txt) {
	-webkit-transform: @txt;
	-ms-transform: @txt;
	transform: @txt;
}

/* Mixin End */

html, body {
	height: 100%;
}
body {
	.column;
	.flex-start;
	font-family: 'Microsoft Yahei';
	background: darken(@gray, 12%);
	font-size: 16px;
	margin: 0;
	padding: 0;
	@media (max-width: @mobile-width) {
		font-size: 15px;
	}
	.container {
		.column;
		.item-flex(1);
		width: 700px;
		max-width: 100%;
		@media (max-width: @mobile-width) {
			margin: 0;
		}
	}
	.with-bar {
		border-top: 4px solid darken(@gray, 70%);
	}
}

.page-detail.ng-enter {
	.transition;
	opacity: 0;
	.transform(translateY(-5%));
}
.page-detail.ng-enter-active {
	opacity: 1;
	.transform(translateY(0));
}

.content-wrap {
	.item-flex(1);
	padding: 3rem;
	background: #fff;

	@media (max-width: @mobile-width) {
		padding: 1rem;
	}
	.list {
		position: relative;
		.column;
		.item {
			.row;
			.flex-start;
			position: relative;
			padding: 1.5rem 0 .5rem 1.5rem;
			font-size: 1.1rem;
			border-bottom: 1px dashed darken(@gray, 10%);
			z-index: 10;
			@media (max-width: @mobile-width) {
				font-size: 1rem;
			}
			.time {
				.row-center;
				font-size: .8rem;
				padding-left: .5rem;
				color: darken(@gray, 10%);
				@media (max-width: @mobile-width) {
					display: none;
				}
			}
			a {
				.row-center;
				text-align: left;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 2rem;
				width: 6px;
				height: 6px;
				margin-left: -4px;
				background: darken(@gray, 30%);
				border-radius: 50%;
				border: 1px solid #fff;
				z-index: 2;
			}
		}
		.item.ng-enter {
			.transition;
			opacity: 0;
			.transform(translateY(-50%));
		}
		.item.ng-enter-active {
			opacity: 1;
			.transform(translateY(0));
		}
		.item.ng-enter-stagger {
			transition-delay: .1s;
			transition-duration: 0;
		}
		.with-total {
			border: 0;
			padding: 1rem 0 2rem 1.5rem;
			&:after {
				position: absolute;
				left: 0;
				top: 1.45rem;
				width: 10px;
				height: 10px;
				margin-left: -6px;
				opacity: 0.5;
				background: darken(@gray, 60%);
				border: 1px solid #fff;
				border-radius: 50%;
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 1.5rem;
			left: 0;
			margin-left: -2px;
			width: 4px;
			height: 100%;
			background: lighten(@gray, 10%);
			z-index: 1;
		}
	}
	.detail {
		.transition();
		.head {
			text-align: center;
			margin-bottom: 3rem;
			@media (max-width: @mobile-width) {
				margin-bottom: 2rem;
			}
			p {
				font-size: .8rem;
				color: darken(@gray, 25%)
			}
		}
		h1 {
			font-size: 1.5rem;
			font-weight: normal;
			@media (max-width: @mobile-width) {
				font-size: 1.4rem;
			}
		}
		h2 {
			font-size: 1.3rem;
			font-weight: normal;
			margin: 3rem 0 1rem;
			@media (max-width: @mobile-width) {
				margin: 2rem 0 1rem;
			}
		}
	}
	a {
		.no-text-des;
		// .transition();
		position: relative;
		color: @primary-color;
		&:hover {
			&:before {
				.transform(scaleX(1));
				visibility: visible;
			}
		}
		&:before {
			content: "";
			.transform(scaleX(0));
			.transition(all, .3s);
			position: absolute;
			width: 100%;
			height: .075rem;
			bottom: 0;
			left: 0;
			background-color: @primary-color;
			visibility: hidden;
		}
	}
	p, blockquote, ul, ol, dl, li, table, pre {
		margin: .7rem 0;
	}
	p {
		line-height: 1.5rem;
	}
	strong {
		font-weight: normal;
	}
	hr {
		height: 0;
		padding: 0;
		margin-top: 4rem;
		border-bottom: 2px dashed @gray;
		border-top: 2px dashed @gray;
		@media (max-width: @mobile-width) {
			margin-top: 3rem;
		}
	}
	blockquote {
		border-left: 4px solid @gray;
		padding: 0 1rem;
		color: #777777;
		margin-top: 0;
		margin-bottom: 0;
	}
	code {
		.border(1px, solid, #eaeaea);
		.border-radius(0);
		margin: 0 2px;
		padding: 0 5px;
		white-space: inherit;
		background-color: @gray;
		word-break: break-word;
	}
	pre, .highlight pre {
		.border;
		.border-radius(0);
		background-color: @gray;
		line-height: 1.2rem;
		overflow: auto;
		padding: .5rem;
		code {
			margin: 0;
			padding: 0;
			white-space: pre;
			border: none;
			background: transparent;
		}
	}
	sup {
		font-size: 0.83em;
		vertical-align: super;
		line-height: 0;
	}
}

/* Highlight style from GitHub */
.pl-c {
    color: #969896;
    font-style: italic;
}
.pl-c1, .pl-s .pl-v {
    color: #0086b3;
}
.pl-e, .pl-en {
    color: #795da3;
}
.pl-s .pl-s1, .pl-smi {
    color: #333;
}
.pl-ent {
    color: #63a35c;
}
.pl-k {
    color: #a71d5d;
}
.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
    color: #183691;
}
.pl-v {
    color: #ed6a43;
}
.pl-id {
    color: #b52a1d;
}
.pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8;
}
.pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold;
}
.pl-ml {
    color: #693a17
}
.pl-mh, .pl-mh .pl-en, .pl-ms {
    color: #1d3e81;
    font-weight: bold;
}
.pl-mq {
    color: #008080;
}
.pl-mi {
    color: #333;
    font-style: italic;
}
.pl-mb {
    color: #333;
    font-weight: bold;
}
.pl-md {
    background-color: #ffecec;
    color: #bd2c00;
}
.pl-mi1 {
    background-color: #eaffea;
    color: #55a532;
}
.pl-mdr {
    color: #795da3;
    font-weight: bold;
}
.pl-mo {
    color: #1d3e81;
}