* {
  margin: 0;
  padding: 0;
}
body {
  font: 13px/1.5 Verdana, sans-serif;
  background: #599acb;
  color: #000;
}
#content {
  padding: 1.5em 1em;
  max-width: 750px;
  margin: auto;
  overflow: hidden;
}
.nothing-wrap {
  max-width: 750px;
  margin: 1em auto;
}
.nothing-wrap .nothing {
  width: 90%;
  background-color: #fff;
  color: #9c0001;
  margin: 0 auto;
  padding: 0.1em;
  border: 1px solid #000;
  text-align: center;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #2d96bd;
}
a:hover,
a:active {
  color: #9c0001;
}
#header {
  width: 100%;
  margin-top: 1.5em;
  text-align: center;
}
#header a,
#header a:visited {
  color: #000;
}
#header a:hover {
  color: #9c0001;
}
article {
  position: relative;
  background: #fff;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #dedede;
}
article header time {
  display: block;
  font-size: 0.75em;
  color: #aaa;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
article header .title {
  font-size: 1.4em;
  margin-top: 0.2em;
  line-height: 1.4em;
  font-weight: normal;
}
article header .title a:hover {
  text-decoration: underline;
}
article .entry {
  line-height: 1.9;
}
@media screen and (max-width: 820px) {
  article .entry {
    line-height: 1.5;
  }
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
  margin-top: 15px;
}
article .entry blockquote {
  margin: 10px 0;
  padding: 8px 10px 8px 12px;
  border-left: 5px solid #ccc;
  background: #f1f1f1;
}
article .entry blockquote p {
  margin-top: 0;
}
article .entry code,
article .entry pre {
  font-family: font-mono;
  font-size: 1em;
  line-height: 1.3;
}
article .entry code {
  background: #ddd;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  border: 1px solid color-border;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article .entry pre {
  background: #ddd;
  border: 1px solid color-border;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid color-border;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: normal;
}
article .entry h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
  border-bottom: 1px dotted #ccc;
  padding: 0 0 5px 0;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry iframe {
  border: none;
}
article .entry hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px dotted #ccc;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: color-meta;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .captionbefore {
  content: '\f040';
  position: absolute;
  font: 1.3em font-icon;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  margin-top: 1em;
  padding-top: 1em;
  font-size: 0.9em;
  line-height: 1em;
  position: relative;
  min-height: 1em;
}
article footer a {
  color: color-meta;
}
article footer a:hover {
  color: color-link;
  text-decoration: none;
}
article footer a:before {
  font: 1.1em font-icon;
  padding-right: 10px;
  vertical-align: middle;
}
article footer .categories,
article footer .tags {
  position: relative;
  margin: 5px 0;
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #comment {
    padding: 15px;
    margin: 8px 8px 15px 8px;
  }
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#menu {
  padding: 1em 2em 0.2em 2em;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
}
#post-content {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);
  padding: 1em 1.5em;
}
.pagination {
  background: #fff;
}
.pagination a {
  display: block;
  padding: 5px 10px;
}
.pagination a:hover {
  text-decoration: none;
  text-shadow: none;
}
ul {
  list-style: none;
  display: inline-block;
}
ul li {
  float: left;
  margin-right: 15px;
}
.archive-title {
  font-size: 1.55em;
  line-height: 1.55em;
  padding-bottom: 0.5em;
}
.archive .year {
  color: #666;
  padding: 0.3em 0;
}
.archive ul time {
  display: block;
  color: #939393;
  font-size: 0.85em;
  line-height: 1.5em;
}
.archive ul li {
  float: none;
  padding: 0.8em;
  padding-left: 2.5em;
  margin: 0;
}
.archive ul li:hover {
  border-left: 0.1em solid #fff;
}
.archive ul li:hover a {
  border-bottom: 0.1em solid #000;
}
.archive-category,
.archive-tag {
  border-left: 1px solid #ddd;
}
.archive-category ul li,
.archive-tag ul li {
  float: none;
  padding: 0.3em;
  padding-left: 1em;
  margin: 0;
}
.archive-category ul li:hover,
.archive-tag ul li:hover {
  border-left: 0.2em solid #000;
}
.archive-category ul li:hover a,
.archive-tag ul li:hover a {
  border-bottom: 0.1em dashed #000;
}
.archive-page {
  padding: 1em 0;
}
.archive-page a,
.archive-page span {
  padding: 0 0.6em;
}
.archive-categories .category-list .category-list-item {
  float: none;
  padding-bottom: 1em;
  margin: 0;
}
.archive-categories .category-list .category-list-item .category-list-link:before {
  content: '>';
  padding-right: 0.5em;
}
.archive-categories .category-list .category-list-item .category-list-count {
  color: #939393;
}
.archive-categories .category-list .category-list-item .category-list-count:before {
  content: '(';
  padding-left: 0.4em;
}
.archive-categories .category-list .category-list-item .category-list-count:after {
  content: ')';
}
.archive-categories .category-list .category-list-item:hover {
  border-left: 0.1em solid #fff;
}
.archive-tags a {
  display: inline-block;
}
.archive-tags a:hover {
  border-bottom: 0.1em solid #000;
}
.archive-tags a:before {
  content: '#';
}
.archive-tags a:after {
  content: '';
  padding-right: 1em;
}
#sidebar {
  width: 33%;
  line-height: 1.8em;
}
@media screen and (max-width: 900px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid color-border;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: font-title;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid color-border;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: color-meta;
}
#sidebar .search input:focus {
  color: color-font;
}
#sidebar .tag small {
  margin-left: 15px;
  color: color-meta;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .twitter li {
  border-bottom: 1px solid color-border;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: color-meta;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#footer {
  width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
}
#footer a,
#footer a:visited {
  color: #000;
}
#footer a:hover {
  color: #9c0001;
}
.entry .gist {
  background: #ddd;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: font-mono;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: color-meta;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: color-link;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: color-link;
}
figure.highlight {
  background: #ddd;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
