.archive-title
  font-size 1.55em
  line-height 1.55em
  padding 0.5em 0

.archive
  .year
    color #666
    padding 0.3em 0

  ul
    time
      display block
      color #939393
      font-size 0.85em
      line-height 1.5em

    li
      float none
      padding 0.8em
      padding-left 2.5em
      margin 0
	
    li:hover
      border-left 0.1em solid #fff

    li:hover a
      border-bottom 0.1em solid #000

.category, .tag
  border-left 1px solid #ddd

  ul

    li
      float none
      padding 0.3em
      padding-left 1em
      margin 0

    li:hover
      border-left 0.2em solid #000

    li:hover a
      border-bottom 0.1em dashed #000

.page
  padding 1em 0
  
  a, span
    padding 0 0.6em
	  
.archive-categories
  .category-list

    .category-list-item
      float none
      padding-bottom 1em
      margin 0

      .category-list-link:before
        content '>'
        padding-right 0.5em

      .category-list-count
        color #939393

      .category-list-count:before
        content '('
        padding-left 0.4em

      .category-list-count:after
        content ')'

    .category-list-item:hover
      border-left 0.1em solid #fff

.archive-tags
  a
    display inline-block

  a:hover
    border-bottom 0.1em solid #000

  a:before
    content '#'

  a:after
    content ''
    padding-right 1em
