*
  margin 0
  padding 0

body
  font 13px/1.5 Verdana,sans-serif
  background #599acb
  color #000

#content
  padding 20px 15px
  max-width 750px
  margin auto
  overflow hidden

a 
 text-decoration none

a:link, a:visited
  color #2d96bd

a:hover, a:active 
  color #9c0001
